In [1]:
import pandas as pd

class HIT(object):
    def __init__(self, row, df_s):

        self.hit_id = row['HITId']
        self.worker_id = row['WorkerId']
        self.assignment_id = row['AssignmentId']
        self.working_time = round(row['WorkTimeInSeconds']/60,2)
        self.ans = row['Answer.Q1']
        self.quality_score = 0
        for data in row['Answer.Q1'].split('|'):
            id,_,ans = data.split('__')
            if 'TRAP-SAME' in id and int(ans) >= 90:
                self.quality_score += 1
            elif 'TRAP-DIFFERENT' in id and int(ans) <= 10:
                self.quality_score += 1

        self.task_id = -1
        for idx, datum in df_s.iterrows():
            if datum['text_0'].replace('\'','') in self.ans:
                self.task_id = idx
                break

In [2]:
df = pd.read_csv('mturk/annotation_result/RU/raw/batch.csv')
df_s = pd.read_csv('mturk/images/RU/turker.csv')

hits = []
for idx, row in df.iterrows():
    hits.append(HIT(row, df_s))

res = pd.DataFrame(columns=['task_id', 'hit_id', 'worker_id', 'assignment_id', 'quality_score', 'working_time(min)'])
for idx in range(len(hits)):
    res = res.append({
            'task_id': hits[idx].task_id,
            'hit_id': hits[idx].hit_id,
            'worker_id': hits[idx].worker_id,
            'assignment_id': hits[idx].assignment_id,
            'working_time(min)': hits[idx].working_time,
            'quality_score': hits[idx].quality_score
        }, ignore_index=True)

In [3]:
res

,task_id,hit_id,worker_id,assignment_id,quality_score,working_time(min)
0,3,3MZ3TAMYTLNWBI8BNX6IKNGXRQDRI2,A4GKTYOXL27QT,351SEKWQS0HRTBDQGDERVB2000YMDS,10,23.42
1,3,3MZ3TAMYTLNWBI8BNX6IKNGXRQDRI2,A2Z596CRYWL6XC,3CTOC39K37QLBU6VM3YDFR0NAMV7JT,10,26.43
2,3,3MZ3TAMYTLNWBI8BNX6IKNGXRQDRI2,A11T4227GSO6EP,3RJSC4XJ10UZMKRQC29AZ27VLCK051,10,55.82
3,4,3IZPORCT1F9WFNXRHFOXKBFIRDYRH9,A2Z596CRYWL6XC,386CSBG1OZMJTHW3YJDU6ECDT63Q64,10,26.12
4,4,3IZPORCT1F9WFNXRHFOXKBFIRDYRH9,A3U1K9X1LXA5JA,3RKNTXVS3MYDREL8QZNTJGDUT0VA4M,9,53.00
5,4,3IZPORCT1F9WFNXRHFOXKBFIRDYRH9,AA3V5BYE3MSQW,3RU7GD8VPOT3G3TL5J187EIV60ISP7,10,42.32
6,5,3S1L4CQSFX5K2AK4KEEBM0EVBUXAFM,A2CPJ227RHJRRZ,3E4GGUZ1T8R90DF7YCHUKFJSEV8K2O,10,74.18
7,5,3S1L4CQSFX5K2AK4KEEBM0EVBUXAFM,A4GKTYOXL27QT,3UOUJI6MTDEO4PNGGF6PGSMMTV9XUB,9,25.85
8,5,3S1L4CQSFX5K2AK4KEEBM0EVBUXAFM,A2Z596CRYWL6XC,3XC1O3LBOSME4IR22RDR025X38STLU,10,37.22